@import '~normalize.css';
@import 'reset';
@import 'colors';

:root {
  --border-radius: 10px;
  --grid-grap: 40px;
}

html,
body,
#app {
  height: 100vh; /* fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
}

body,
#app {
  min-height: 100%;
}

#app {
  font-family: $font-body;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $font-title;
}
