*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --color-attention: #fe2946;
  --color-accent: #ffc83d;
  --color-selected: rgba(255, 200, 61, 0.3);
  --color-faded: rgba(255, 255, 255, 0.1);
  --radius: 6px;
  --default-space: 1.25rem;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  padding: 50px 20px;
}

main {
  display: grid;
  grid-gap: 60px;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
}

button {
  font-weight: 500;
}

button,
input,
select {
  margin: 0;
  width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-wrapper + .input-wrapper {
  margin-top: var(--default-space);
}

.input-wrapper > label {
  display: inline-block;
  margin-bottom: 0.3125rem;
}

.alert {
  margin-bottom: var(--default-space);
  padding: var(--default-space);
  text-align: center;
  border-radius: var(--radius);
  background: var(--color-attention);
  display: none;
}

.visible {
  display: block;
}

.alert > p {
  margin: 0;
  font-weight: 500;
  color: white;
}

.meet__register button {
  margin-top: var(--default-space);
}

.meet-list {
  max-height: 220px;
  height: 100%;
  margin: 0 0 var(--default-space);
  padding: var(--default-space);
  border-radius: var(--radius);
  background: var(--color-faded);
  overflow: auto;
}

.meet-list__item {
  font-weight: 500;
  line-height: 1.5;
}

.meet-list__item > span {
  color: var(--color-accent);
}

.meet-list__item + .meet-list__item {
  margin-top: 0.3125rem;
}

.trails {
  grid-column: span 2;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: var(--default-space);
  background: var(--color-faded);
  border-radius: var(--radius);
  transition: opacity 200ms ease;
}

.trails .container {
  display: flex;
  flex-direction: column;
}

.trails .container h4 {
  margin-top: 0;
}

.trail-list {
  flex: 1;
  font-weight: 500;
  padding: var(--default-space);
  background: rgba(22, 31, 39, 0.5);
  border-radius: var(--radius);
}

.trail-list > li span {
  margin-right: 6px;
}

.trail-list > li + li {
  margin-top: 0.3125rem;
}

.trail-list.filtered > li {
  opacity: 0.25;
}

.trail-list.filtered > li span {
  color: white;
}

.trail-list.filtered > li.found {
  color: var(--color-accent);
  opacity: 1;
}

.filters {
  grid-column: span 2;
  transition: opacity 200ms ease;
}

.filters .filters-list {
  display: flex;
  flex-grow: 2;
}

.filters .filters-list > .filter {
  padding: 10px 16px;
  background: var(--color-faded);
  border-radius: var(--radius);
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: none;
}

.filters .filters-list > .filter:hover {
  opacity: 0.8;
}

.filters .filters-list > .filter.selected {
  border: 2px solid var(--color-accent);
  background: var(--color-selected);
}

.filters .filters-list > .filter + .filter {
  margin-left: 10px;
}
